DATABASE_URL=postgres://ota_user:ota_pass@localhost:5435/ota
S3_BUCKET=ota-updates
S3_BASE_URL=http://localhost:9000/ota-updates
S3_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
HOST=0.0.0.0
PORT=9999
# PRIVATE_KEY_PATH=./code-signing-keys/private-key.pem
